@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Lista de Cidades</h2>
<div>
    <a href="@Url.Action("Cadastro")" class="btn btn-primary mt-1"><i class="fa fa-plus"></i> Nova Cidade</a>
</div>
<div class="row">
    <div class="col-3 offset-9">
        <div class="form-group">
            <input type="text" id="campo-pesquisa" placeholder="Busca" class="form-group" />
        </div>
    </div>
</div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Estado</th>
            <th>Nome</th>
            <th>Número de Habitantes</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Cidade cidade in ViewBag.Cidades)
        {
            <tr>
                <td>@cidade.Id</td>
                <td>@cidade.Estado.Nome</td>
                <td>@cidade.Nome</td>
                <td>@cidade.NumeroHabitantes</td>
                <td>
                    <a href="@Url.Action("Editar", new { id = cidade.Id })" class="btn btn-outline-primary"><i class="fas fa-pen"></i> Editar</a>
                    <a href="@Url.Action("Apagar", new { id = cidade.Id })" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Código</th>
            <th>Estado</th>
            <th>Nome</th>
            <th>Número de Habitantes</th>
            <th>Ação</th>
        </tr>
    </tfoot>
</table>
