<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand"
       href="@Url.Action("Index", "Home")"> <img src="https://img.icons8.com/dotty/40/000000/top-menu.png" /></a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"
                   href="@Url.Action("Index", "categoria")">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="@Url.Action("Index", "cidade")">Cidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="@Url.Action("Index", "cliente")">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="@Url.Action("Index", "estado")">Estados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="@Url.Action("Index", "projeto")">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="@Url.Action("Index", "tarefa")">Cidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="@Url.Action("Index", "usuario")">Usuarios</a>
            </li>
        </ul>
    </div>
</nav>
