@{
    ViewBag.Title = "Editar";
}
<div class="container">
    <div class="card card-register mx-auto mt-4">
        <div class="card-header">Editar Cliente</div>
        <div class="card-body">
            <form action="@Url.Action("Update")" method="post">
                <input type="hidden" name="id" value="@ViewBag.Cliente.Id" />

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <label for="id">Código</label>
                                <input type="text" id="id" name="id" class="form-control"
                                       placeholder="Código" required="required"
                                       value="@ViewBag.Cliente.Id" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" id="nome" class="form-control" placeholder="Nome"
                                           required="required" autofocus="autofocus" name="nome" value="@ViewBag.Cliente.Nome" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="campo-cpf">Cpf</label>
                                    <input type="text" id="campo-cpf" class="form-control" placeholder="Cpf"
                                           required="required" autofocus="autofocus" name="cpf" value="@ViewBag.Cliente.Cpf" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="data-nascimento">Data Nascimento</label>
                                    <input type="datetime" id="data-nascimento" class="form-control data" placeholder="Data Nascimento"
                                           required="required" autofocus="autofocus" name="dataNascimento" value="@ViewBag.Cliente.DataNascimento.ToString("dd-MM-yyyy")" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="campo-cep">Cep</label>
                                    <input type="text" id="campo-cep" class="form-control" placeholder="Cep" required="required"
                                           autofocus="autofocus" name="cep" value="@ViewBag.Cliente.Cep" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="campo-cidade">Cidade</label>
                                    <select id="campo-cidade" name="idCidade" class="form-control" required="required">
                                        @foreach (Model.Cidade cidade in ViewBag.Cidades)
                                        {
                                            if (cidade.Id == ViewBag.Cliente.IdCidade)
                                            {
                                                <option value="@cidade.Id" selected="selected">@cidade.Nome</option>
                                            }
                                            else
                                            {
                                                <option value="@cidade.Id">@cidade.Nome</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="numero">Número</label>
                                    <input type="number" id="numero" class="form-control" placeholder="Número"
                                           required="required" autofocus="autofocus" name="numero" value="@ViewBag.Cliente.Numero" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="complemento">Complemento</label>
                                    <input type="text" id="complemento" class="form-control" placeholder="Complemento"
                                           required="required" autofocus="autofocus" name="complemento" value="@ViewBag.Cliente.Complemento" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="logradouro">Logradouro</label>
                                    <input type="text" id="logradouro" class="form-control" placeholder="Logradouro"
                                           required="required" autofocus="autofocus" name="logradouro" value="@ViewBag.Cliente.Logradouro" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success col-md-12" type="submit">Salvar</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="@Url.Action("Index", "Cliente")">Deseja alterar algum cliente já registrado ?</a>
            </div>
        </div>
    </div>
</div>